
$red: #DA1F26;
$yellow: #f5a623;
$blue: #0875e1;
$font-family-sans-serif: -apple-system, Montserrat, Helvetica Neue, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";